
<footer class="rodape">
    <div class="container-grid">
        <div class="row">

            <img class="logomarca" src="assets/Imagens/Logomarca.svg" alt="Logo">

            <div class="pagamento">
                <h1>formas de pagamento</h1>
                <div class="pag-img">
                    <img src="assets/Imagens/bar-code.png" alt="Boleto">
                    <img src="assets/Imagens/mastercard.png" alt="Mastercard">
                    <img src="assets/Imagens/visa.png" alt="Visa">
                    <img src="assets/Imagens/american-express.png" alt="American-express">
                    <img src="assets/Imagens/diners-club.png" alt="Diners-club">
                </div>
            </div>

            <h2>siga-nos nas <br> redes sociais:</h2>

            <div class="redes">
                <img src="assets/Imagens/instagram.png" alt="instagram">
                <img src="assets/Imagens/facebook.png" alt="facebook">
                <img src="assets/Imagens/linkedin.png" alt="linkedin">
            </div>

        </div>

        <div class="linha">

            <div class="pagamento">
                <h1 class="title">formas de pagamento</h1>
                <div class="pag-img">
                    <img src="assets/Imagens/bar-code.png" alt="Boleto">
                    <img src="assets/Imagens/mastercard.png" alt="Mastercard">
                    <img src="assets/Imagens/visa.png" alt="Visa">
                    <img src="assets/Imagens/american-express.png" alt="American-express">
                    <img src="assets/Imagens/diners-club.png" alt="Diners-club">
                </div>
            </div>

            <div class="institucional">
                <h3 class="title">institucional</h3>
                <a href="#">Sobre a Empresa</a>
                <a href="#">Política de Entrega</a>
                <a href="#">Política de Trocas e <br> Devoluções </a>
                <a href="#">Política de Pagamento</a>
                <a href="#">Termos de Serviço</a>
            </div>

            <div class="horarios">
                <h4 class="title">horário de atendimento</h4>
                <p>Seg. à Sex. das 09h00 às 17h00</p>
                <p>Sábados das 09h00 às 14h00</p>
            </div>

            <div class="atendimento">
                <h4 class="title">atendimento</h4>
                <div class="whatsapp">
                    <img src="assets/Imagens/whatsapp.png" alt="whatsapp-icon">
                    <p>(00) 0 0000-0000</p>
                </div>
                <p>contato@gamemania.com</p>
            </div>

            <div class="redes">
                <img src="assets/Imagens/instagram.png" alt="instagram">
                <img src="assets/Imagens/facebook.png" alt="facebook">
                <img src="assets/Imagens/linkedin.png" alt="linkedin">
            </div>
        </div>

        <div class="mobile">
            <div class="institucional">
                <h3 class="title">institucional</h3>
                <a href="#">Sobre a Empresa</a>
                <a href="#">Política de Entrega</a>
                <a href="#">Política de Trocas e <br> Devoluções </a>
                <a href="#">Política de Pagamento</a>
                <a href="#">Termos de Serviço</a>
            </div>

            <div class="horarios">
                <h4 class="title">horário de atendimento</h4>
                <p>Seg. à Sex. das 09h00 às 17h00</p>
                <p>Sábados das 09h00 às 14h00</p>
            </div>
        </div>

        <div class="row">
            <p>Todos os Direitos Reservados</p>
        </div>

    </div>
</footer>

