
<section>
    <div class="container-grid Links">
        <a href="#">PC's Gamer</a>
        <a href="#">Notebook Gamer</a>
        <a href="#">Consoles</a>
        <a href="#">Jogos</a>
        <a href="#">Acessórios</a>
    </div>
</section>

<main>
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-grid banner-info-box">
                        <img class="imagem esconder" src="assets/Imagens/—Pngtree—big sale special offer discount_5491841.png">
                        <div class="cadastre-se">
                            <img class="image" src="assets/Imagens/1655515636650.png">
                            <a class="botão" routerLink="/login">CADASTRAR-SE</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-grid banner-info-box">
                        <img class="imagem esconder" src="assets/Imagens/—Pngtree—big sale special offer discount_5491841.png">
                        <img class="imagem banner" src="assets/Imagens/BANNER-PS5.svg"  alt="...">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-grid banner-info-box">
                        <img class="imagem esconder" src="assets/Imagens/—Pngtree—big sale special offer discount_5491841.png">
                        <img class="imagem banner" src="assets/Imagens/BANNER-PC.svg"  alt="...">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</main>

<section class="produtos">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1 class="produtos-titulo">Produtos</h1>
            </div>
        </div>

        <br>

        <div class="row">

            <div class="col-6 col-md-4 col-lg d-flex justify-content-center justify-content-md-start">
                <div class="card">
                    <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nome</h5>
                        <p class="card-text">Descrição</p>
                        <p class="card-price">R$ 0,00</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg d-flex justify-content-center justify-content-md-start">
                <div class="card">
                    <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nome</h5>
                        <p class="card-text">Descrição</p>
                        <p class="card-price">R$ 0,00</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg d-flex justify-content-center justify-content-md-start">
                <div class="card">
                    <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nome</h5>
                        <p class="card-text">Descrição</p>
                        <p class="card-price">R$ 0,00</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg d-flex justify-content-center justify-content-md-start">
                <div class="card">
                    <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nome</h5>
                        <p class="card-text">Descrição</p>
                        <p class="card-price">R$ 0,00</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg d-flex justify-content-center justify-content-md-start">
                <div class="card">
                    <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nome</h5>
                        <p class="card-text">Descrição</p>
                        <p class="card-price">R$ 0,00</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-6 col-md-4 col-lg d-flex justify-content-center justify-content-md-start">
                <div class="card">
                    <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nome</h5>
                        <p class="card-text">Descrição</p>
                        <p class="card-price">R$ 0,00</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg d-flex justify-content-center justify-content-md-start">
                <div class="card">
                    <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nome</h5>
                        <p class="card-text">Descrição</p>
                        <p class="card-price">R$ 0,00</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg d-flex justify-content-center justify-content-md-start">
                <div class="card">
                    <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nome</h5>
                        <p class="card-text">Descrição</p>
                        <p class="card-price">R$ 0,00</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg d-flex justify-content-center justify-content-md-start">
                <div class="card">
                    <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nome</h5>
                        <p class="card-text">Descrição</p>
                        <p class="card-price">R$ 0,00</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg d-flex justify-content-center justify-content-md-start">
                <div class="card">
                    <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nome</h5>
                        <p class="card-text">Descrição</p>
                        <p class="card-price">R$ 0,00</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="produtos-mobile">
    <div class="container">

        <div class="row">
            <h1 class="produtos-titulo">Produtos</h1>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">

                    <div class="card-mobile">
                        <div class="card">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                        <div class="card">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                        <div class="card none">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="carousel-item">

                    <div class="card-mobile">

                        <div class="card">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                        <div class="card">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                        <div class="card none">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="carousel-item">

                    <div class="card-mobile">

                        <div class="card">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                        <div class="card">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                        <div class="card none">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



        <div id="carouselExampleIndicators-2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators-2" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators-2" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators-2" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">

                    <div class="card-mobile">
                        <div class="card">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                        <div class="card">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                        <div class="card none">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="carousel-item">

                    <div class="card-mobile">

                        <div class="card">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                        <div class="card">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                        <div class="card none">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="carousel-item">

                    <div class="card-mobile">

                        <div class="card">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                        <div class="card">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                        <div class="card none">
                            <img src="assets/Imagens/istockphoto-1340113237-612x612.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nome</h5>
                                <p class="card-text">Descrição</p>
                                <p class="card-price">R$ 0,00</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators-2"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators-2"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>

</section>

