<header>

    <div class="container-grid header-flex">

        <img class="Logo" src="assets/Imagens/Logomarca.svg" title="Logo Game-Mania" alt="Imagem do Logo Game-Mania">
        <div class="Barra-de-Pesquisa">
            <img class="img" src="assets/Imagens/Lupa-Pesquisa.svg" title="Barra de pesquisa" alt="Pesquisa">
            <input class="Pesquisa" type="text" placeholder="Buscar Produtos ...">
        </div>
        <div class="Botão-Login">
            <a class="Login" routerLink="/login">Login</a>
            <img class="Usuário" src="assets/Imagens/user (4).png" title="Imagem Usuário" alt="Usuário">
        </div>
        <img class="Carrinho" src="assets/Imagens/shopping-cart (1).png" title="Imagem Carrinho" alt="Carrinho">

        <div class="mobile-menu-icon">
            <button onclick="abreFechaMenu();" type="button"><img class="icon" src="assets/Imagens/Menu.svg"
                    alt=""></button>
        </div>

    </div>

    <div class="mobile-menu">
        <div class="Botão-Login">
            <a class="Login" routerLink="/login">Login</a>
            <img class="Usuário" src="assets/Imagens/user (4).png" title="Imagem Usuário" alt="Usuário">
        </div>

        <div class="container-grid Links">
            <a href="#">PC's Gamer</a>
            <a href="#">Notebook Gamer</a>
            <a href="#">Consoles</a>
            <a href="#">Jogos</a>
            <a href="#">Acessórios</a>
        </div>
    </div>

</header>

